# seqinspector_FCQC.config
# Configuration file for run_seqinspector_FCQC.sh
# All paths should be absolute.

# Nextflow infrastructure config (e.g. executor, cluster settings)
NF_CONFIG="[path to Nextflow config]"

# Seqinspector pipeline config (e.g. tool parameters, references)
SEQINSPECTOR_CONFIG="[path to nf-core/seqinspector config]"

# Directory where MultiQC reports and pipeline output are written
OUTDIR="[path to output directory]"

# Path to the FastQ Screen reference list CSV as used by nf-core/seqinspector (`--fastq_screen_references`)
FASTQ_SCREEN_REFERENCES="[path to fastqscreen referencs]"

# path to parent dir of main.nf of nf-core/seqinspector
SEQINSPECTOR_PIPELINE_ORG= "path to parent dir of main.nf of nf-core/seqinspector"

# (Optional) Directory for the Nextflow work directory (intermediate files).
# If unset, Nextflow defaults to ./work relative to the launch directory.
#NF_WORKDIR="[path to ./work outdir]"

# (Optional) Directory from which Nextflow is launched.
# Nextflow always writes its .nextflow/ cache, logs, and history into the
# directory it is launched from. When this parameter is set, the launch dir is changed to NF_LAUNCHDIR and the Nextflow logs will be placed there.
#NF_LAUNCHDIR="[path to Nextflow log outdir]"
